<div class="wrapper">
    <h2>Pass in your code to see process highlighting</h2>
    <div class="area-wrapper"><textarea id="dataTextArea"></textarea></div>
    <input type="radio" name="languages" value="CSharp" checked /> CSharp
    <input type="radio" name="languages" value="Java" /> Java
    <br />
    <button class="btn btn-primary" onclick="sendDataToFormat()">See HTML result</button>
    <button class="btn btn-primary"  onclick="downloadTokensAsXml()">Download as XML</button>
</div>
<hr />
<div class="wrapper">
    <h2>Here is highlighted code in html syntax</h2>
    <div class="html-preview-wrapper" id="htmlPreview">

    </div>

</div>
<script type="text/javascript">

    var formatDataUrl = '@Url.Action("FormatTokensHtml", "Home")';
    var downloadXmlUrl = '@Url.Action("DownloadXml", "Home")';

    function downloadTokensAsXml() {

        var textAreaContent = $("#dataTextArea").val();

        var selectedLanguage = "";

        var radios = document.getElementsByName('languages');

        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                selectedLanguage = radios[i].value;
                break;
            }
        }

          $.ajax({
            type: "POST",
            url: "@Url.Action("SaveTokens", "Home")",
            data: { data: textAreaContent, language: selectedLanguage  },
            success: function (path) {
                console.log(path);
              
                window.location = '@Url.Action("DownloadXml", "Home")?path=' + path;

            },
            error: function (data) {
                alert('error');
                console.log(data);
            }
        });

     
    }

    function sendDataToFormat() {
        var textAreaContent = $("#dataTextArea").val();
        var selectedLanguage = "";

        var radios = document.getElementsByName('languages');

        for (var i = 0, length = radios.length; i < length; i++) {
            if (radios[i].checked) {
                selectedLanguage = radios[i].value;
                break;
            }
        }

        console.log(selectedLanguage);
        console.log(textAreaContent);
        $("#htmlPreview").html("");

        $.ajax({
            type: "POST",
            url: "@Url.Action("FormatTokensHtml", "Home")",
            data: { data: textAreaContent, language: selectedLanguage },
            success: function (data) {
                console.log(data);
                var arrayLength = data.length;
                for (var i = 0; i < arrayLength; i++) {
                    $("#htmlPreview").append(data[i]);
                    //Do something
                }
            },
            error: function (data) {
                alert('error');
                console.log(data);
            }
        });
    }
</script>